
{% extends "layout.html" %}
{% block content %}

  <div class="about-wrap">
    <h2 class="article-title">About this blog site</h2>
    <article class="post">
      <div class="about-body">
        <p> This site is created for educational purposes. It is simple blog web site for anyone to use.</p>
        <p> <span class="underline"> Main features are:</span> <br/><br/>
         >>> Registration with e-mail and password<br/> >>> Login and personal Account creation<br/> >>> Writing blogs (Creation of Blog Title, Date when blog is created and Blog Content - text only)<br/> >>> Updating Blog title, content and Profile picture<br/> >>> Deleting posts<br/> >>> Possibility to see other Blog User's only blogs.</p>

         <p><span class="underline"> Used tools:</span> <br/><br/>
         <b>[HTML5]</b> and <b>[CSS3 with SASS]</b> and <b>Google Fonts</b><br/> <b>[JavaScript]</b> just a snippet for modal show up <br/><b>[Python3]</b> as main Back-End language <br/><b>[Flask]</b> - Python web application framework. </p>

         <p>Welcome to keep in touch with me >>> <b>santa.baltmane@outlook.com</b></p>

         <h5>*2020*</h5>
      </div>

    </article>

  </div>

{% endblock content %}
